
html {
    font-family: 'Habibi', serif;
    font-style: normal;
    font-weight: 400;
}

a {
    text-decoration-line: none;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 50px;
}


header{
    background: #333799;
    width: 100%;
    height: 150px;

    display: flex;
    flex-direction: column;
    gap: 32px;
}

nav {
    margin-top: 32px;
    display: flex;
    gap: 163px;
    justify-content: space-around;
}

.nav-list {
    display: flex;
    gap: 90px;
}

.home{
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    /* identical to box height */
    
    text-decoration-line: underline;
    
    color: #FFFFFF;    
}

.nav-element{
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
}

.cart{
    color: #FF0000;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-form {
    display: flex;
    gap: 22px;
}

.search-input{
    width: 250px;
    height: 35px;
    background: #DADADA;
    border-radius: 5px;
    font-size: 20px;
    line-height: 25px;
    /* identical to box height */

    letter-spacing: 0.03em;

    color: rgba(0, 0, 0, 0.7);
}

.search-button{
    background: rgba(255, 0, 0, 0.67);
    width: 130px;
    height: 35px;
    border-radius: 15px;
    font-size: 20px;
    line-height: 25px;
    /* identical to box height */

    letter-spacing: 0.03em;

    color: #FFFFFF;
}

/*--------------------------------------main---------------------------------*/

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 130px;
}

.main-block {
    display: flex;
    flex-direction: column;
    gap: 47px;
}

.main-img {
    width: 1165px;
    height: 469px;
}

.logos {
    width: 1165px;
    height: 100px;
}


.sport-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 67px;
}

.sport-clothes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 120px;
}

.title{
    font-size: 32px;
    line-height: 40px;
    /* identical to box height */
    color: #000000;

}

.item-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 79px;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    width: 217px;
    height: 324px;

    background: #FFFFFF;
    border-radius: 5px;
}

.item-img {
    width: 199px;
    height: 189px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-text{
    height: 64px;
    font-size: 24px;
    line-height: 30px;
    text-align: center;

    color: #000000;
}

.clothe-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 93px;
}

.clothe-item/*для спортивной одежды и обуви*/{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 500px;
}

.clothe-img {
    width: 281px;
    height: 368px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clothe-text{
    font-size: 32px;
    line-height: 40px;
    /* identical to box height */
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    margin-top: 150px;
    background: #333799;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-text{
    font-size: 24px;
    line-height: 30px;
    text-align: center;

    color: #FFFFFF;
}

.line-break {
    width: 100%;
}